/* Write your CSS here */
* {
  color: #ffffff;
}
.list-items {
  width: 45%;
  margin-bottom: 5px;
  margin-right: 5px;
  list-style-type: none;
}
.button {
  height: 20px;
  width: 100%;
  border: 1px solid #ffffff;
  background-color: #382f5a;
  padding: 5px;
  border-bottom: none;
}
